*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 133px 30px;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: inherit;
  padding: 6px 0;
}

.button:hover {
  background-color: #545050;
  cursor: pointer;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content {
  display: flex;
  gap: 30px;
  block-size: 534px;
  align-items: center;
}

.result {
  inline-size: 711px;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.result__video-container {
  margin-bottom: 16px;
  position: relative;
}

.result__video-container:focus-visible {
  outline: none;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  flex-direction: row;
}

.search-form__label {
  display: flex;
  width: fit-content;
  gap: 5px;
  align-items: center;
  flex-direction: row;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox:hover {
  cursor: pointer;
}

.search-form__pseudo-checkbox:focus {
  border: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  display: block;
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
  position: relative;
  inset: 0;
  margin: 1px;
}

.search-form__label-text {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
  inline-size: 194px;
}

.search-form__textfield {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: rgb(255 255 255 / 0.7);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  inline-size: 271px;
  padding: 1px;
}

.search-form__textfield:active {
  border: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:focus {
  outline: none;
}

.content__details {
  inline-size: 399px;
  block-size: 100%;
}

.title {
  margin-bottom: 26px;
  color: #fff;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
}

.content__accent {
  color: #545050;
}

.content__list {
  block-size: 290px;
  overflow: hidden scroll;
  gap: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
  display: block;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
  cursor: pointer;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card-description-container {
  block-size: 100%;
  inline-size: 100%;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  color: #fff;
  font-family:
    "Fira Sans sans-serif",
    sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 90% */
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
}

.more-button {
  inline-size: 100%;
}
